@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }

  *{
      padding: 0;
      margin: 0;
      font-family: 'vazir';

  }


  body{
      direction: rtl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  section{
      text-align: center;
  }
  section .btn{
      width: 200px;
      font-size: 25px;
      padding: 5px;
      color: #fff;
      background-color: #ff7b00;
      border: none;
      cursor: pointer;
  }